.actions {
  /* margin: auto; */
  text-align: center;
}

.actions p {
  margin: 2%;
}
.vertical-center {
  display: inline-block;
  margin: auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.left {
  margin-right: .5%;
}

.right {
  margin-left: .5%;
}

/* .logo-vert {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } */
